*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    min-height: 100vh;
}


/* welcome */
.welcome{
    
    display: grid;
    grid-template-columns: 1fr;
    background-color: #323230;
    padding: 30px 60px;
    grid-auto-rows: 1fr;
}
.welcome nav a{
    text-decoration: none;
    color: #a8a8a8;
    margin-right: 20px;
}
.welcome div h1{
  font-size: xx-large;
  color: #eeeee7;
}
.welcome  p{
   color: #a8a8a8;
   margin-top: 20px;
   max-width: 540px;
}
.welcome footer{
    align-self: end;
}

/* about */
.about{
    
    display: grid;
    grid-template-columns: 1fr;
   background-color: #a8a8a8;
   grid-template-rows: 3fr 1fr;
   overflow: hidden;
}
.about img{
    min-width: 100%;
    max-height: 575px;
}
 .text{
    padding: 30px 60px;
} 

/* photos */
.photos{
    
    display: grid;
    grid-template-columns: 1fr;
   grid-template-rows: 1fr 3fr;
   overflow: hidden;
}
.photos img{
  width: 100%;
  max-height: 575px;
}